<header>
	<div id='searchbox'>
		<input id="searchbox-input" placeholder='Check a City'>
	</div>
	<div id='ptp-logo'>
		<img src="img/logo.png">
	</div>
	<div id="input">
		<input ng-model='query' placeholder='Search a Bar' autofocus='true'>
		<!-- <img src="img/search_icon.png" id="search-icon"> -->
	</div>
</header>
<div id="map">
	<div class='ctn-center'>
		<img src="img/loader.gif">
	</div>
</div>
<div id="list-container">
	<div id="bar-list">
		<ul>
			<li ng-repeat='bar in bars | filter:query' ng-animate='listshow'>
				<a href="#/bars/{{bar.id}}" ng-click='printName(bar.name)'><p>{{bar.name}} </br><span>{{bar.address}}</span></p></a>
			</li>
		</ul>
	</div>
</div>
