<!DOCTYPE html>
<html ng-app="payetapinteApp">
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
		<script type="text/javascript" src="scripts/angular/angular.js"></script>
		<script type="text/javascript" src="scripts/angular/angularjs-geolocation.min.js"></script>
		<script type="text/javascript" src="scripts/angular/angular-route.js"></script>
		<script type="text/javascript" src="scripts/angular/angular-animate.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="styles/animate.css">
		<link rel="stylesheet" type="text/css"href="styles/ratchet/ratchet.css">
		<link rel="stylesheet" type="text/css" href="styles/index.css" />
		<link rel="stylesheet" type="text/css" href="styles/main.css" />
		<title>Paye ta Pinte</title>
	</head>
	<body ng-controller='MainCtrl'>
	
		<nav class="bar bar-tab">
			<a class="tab-item" href="#" ng-click="style={'-webkit-transform': 'translate3d(25%,0,0)', transform: 'translate3d(25%,0,0)' , transition: '0.3s'}">
				<span class="icon icon-more"></span>
			</a>
			<a class='tab-item' href="#" ng-click="style={'-webkit-transform': 'translate3d(0,0,0)', transform: 'translate3d(0,0,0)' , transition: '0.3s'}">
				<span class='icon icon-map'><img src="img/map-nav.png"></span>
			</a>
			<a class="tab-item" href="#" ng-click="style={'-webkit-transform': 'translate3d(-25%,0,0)', transform: 'translate3d(-25%,0,0)' , transition: '0.3s'}">
				<span class="icon icon-bars"></span>
			</a>
		</nav>
		<div id='main-container' ng-style="style">
			<div class="mobile-panel" id="bar-detail">
			</div>
			<div class="mobile-panel" id="more">
				<p id="add-bar">Ajoute un bar</p>
				<p id="fb-connect">Facebook</p>
			</div>
			<div class="mobile-panel" id="map-container">
				<div id="map">
					<div id="wrapper">
						<div id="move">
							<div id="loader"></div>
						</div>
						<div id="logo">
								<img src="img/logo.png">
						</div>
					</div>
				</div>
				<input id="searchbox-input" placeholder="City..">
				<div class='{{class}}'>
					<div id="toggle" ng-click='changeListClass()'>
						<img src="img/toggle.png">
					</div>
					<ul>
						<li ng-repeat='bar in bars' class="bar-item">
							<a href="#">
								<!-- <span>{{distances[$index]}}</span> -->
								<span class="name">{{bar.name}}</span>
								<span class="price">{{bar.price}} €</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="mobile-panel slide" id="list-container" >
				<input ng-model='query' placeholder='Trouve un bar' ng-style='styyles'>
				<div class="list">
					<ul>
						<li class='bar-item' ng-repeat='bar in bars | filter:query'>
							<a href="#">
								<span class="name">{{bar.name}}</span>
								<span class="price">{{bar.price}} €</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div id='map-container' ng-controller='MapCtrl'>
			<div id='map'></div>
		</div>
		<div id="list-container" ng-controller='BarListCtrl'>
			<input ng-model='query' placeholder='Search bar' autofocus='true'>
			<ul>
				<li ng-repeat="bar in bars | filter:query" >
					{{bar.name}}
				</li>
			</ul>
		</div> -->
		<div class="mobile-container" id="bar-details">
			
		</div>

		<script type="text/javascript" src="scripts/ratchet.js"></script>
		<script type="text/javascript" src="scripts/index.js"></script>
		<script type="text/javascript">
			app.initialize();
		</script>
	</body>
</html>
