@yellow : #ffe02d;

html{

	body{
		height: 100%;
		width: 400%;

		.bar-tab {
				z-index: 200;
				background-color: #333333;

				.tab-item.active, .tab-item:active {
					color: @yellow;
				}
			}

		#main-container{
			position: absolute;
			width: 100%;
			height: 100%;
			display: table;
			left: -50.00%;

			.mobile-panel {
				position: relative;
				display: table-cell;
				width: 25.0%;
				height: 100%;
				background-color: #333333;
			}

			#more {
				text-align: center;

				#add-bar, #fb-connect {
					width: 80%;
					height: 10%;
					margin-top: 50%;
					margin: auto;
				}

				#add-bar {
					background-color: #888888;
					color: #333333;
				}

				#fb-connect {
					background-color: #3b5998;
					color: #888888;
				}
			}

			#map-container {
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				margin: 0 auto;

				#map {
					height: 100%;
					z-index: 100;
				}

				.list-up {
					position: absolute;
					z-index: 150;
					bottom: 50px;
					width: 100%;
					height: 27.5%;
					overflow-y: auto;
					background-color: rgba(51, 51, 51, 0.5);
					transition: 0.2s;

					p {
						text-align: center;
					}

					#toggle {
						background-color: #333333;
						height: 20px;
						width: 100%;
						z-index: 400;
						border-bottom: solid 1px rgba(136,136,136,1);
						position: fixed;
					}

					ul {
						margin: 0;
						padding: 0;
						padding-top: 20px;
						list-style: none;
						font-family: 'Montserrat';

						li {
							border-bottom: solid 1px rgba(136,136,136,0.6);

							a{
								display:table;
								width:100%;
								padding: 10px;
								color:#fff;
								font-size:14px;
								
								.price,.name {
									display:table-cell;
								}

								.name {
									color: @yellow;
								}

								.price{
									text-align: right;
								}
							}
						}
					}
				}
				
				.list-down {
					position: absolute;
					z-index: 150;
					bottom: 0px;
					width: 100%;
					height: 12.3%;
					overflow-y: auto;
					background-color: rgba(51, 51, 51, 0.5);
					transition: 0.2s;

					p {
						text-align: center;
					}

					#toggle {
						background-color: #333333;
						height: 20px;
						width: 100%;
						z-index: 400;
						border-bottom: solid 1px rgba(136,136,136,1);
						position: fixed;
					}

					ul {
						margin: 0;
						padding: 0;
						padding-top: 20px;
						list-style: none;
						font-family: 'Montserrat';

						li {
							border-bottom: solid 1px rgba(136,136,136,0.6);

							a{
								display:table;
								width:100%;
								padding: 10px;
								color:#fff;
								font-size:14px;
								
								.price,.name {
									display:table-cell;
								}

								.name {
									color: @yellow;
								}

								.price{
									text-align: right;
								}
							}
						}
					}
				}
			}
			
			#list-container {
				
				input {
					width: 100%;
					background-color: #333333;
					border: none;
					color: @yellow;
					border-bottom: solid 1px #888888;
					font-size: 20px;
					font-family: 'Montserrat';
					padding: 10px;
					padding-bottom: 5px;
				}

				input:focus{
					outline: 0;
				}

				::-webkit-input-placeholder { /* WebKit browsers */
					color: #888888;
				}
				:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color: #888888;
				}
				::-moz-placeholder { /* Mozilla Firefox 19+ */
					color: #888888;
				}
				:-ms-input-placeholder { /* Internet Explorer 10+ */
					color: #888888;
				}

				.list {
					left:0;
					right:0;
					height:90%;
					position:absolute;
					overflow-y: auto;

					ul {
						height: 100%;
						margin: 0;
						padding: 0;
						list-style: none;
						font-family: 'Montserrat';

						.bar-item {
							border-bottom: solid 1px rgba(136,136,136,0.4);
							
							a{
								display:table;
								width:100%;
								padding: 10px;
								color:#fff;
								font-size:14px;
								
								.price,.name {
									display:table-cell;
								}

								.name {
									color: @yellow;
								}

								.price{
									text-align: right;
								}
							}
						}
					}
				}
			}

			#bar-detail {
			}
		}
	}
}
