
html body {
  height: 100%;
  width: 400%;
}
html body .bar-tab {
  z-index: 200;
  background-color: #222222;
}
html body .bar-tab .tab-item.active,
html body .bar-tab .tab-item:active {
  color: #ffe02d;
}
html body #main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  left: -50%;
}
html body #main-container .mobile-panel {
  position: relative;
  display: table-cell;
  width: 25.0%;
  height: 100%;
  background-color: #222222;
}
html body #main-container #more {
  text-align: center;
}
html body #main-container #more #add-bar,
html body #main-container #more #fb-connect {
  width: 80%;
  height: 10%;
  margin-top: 50%;
  margin: auto;
}
html body #main-container #more #add-bar {
  background-color: #888888;
  color: #222222;
}
html body #main-container #more #fb-connect {
  background-color: #3b5998;
  color: #888888;
}
html body #main-container #map-container {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
}
html body #main-container #map-container #map {
  height: 100%;
  width: 100%;
  z-index: 100;
  text-align: center;
}
html body #main-container #map-container #map #wrapper {
  margin: auto;
  width: 30%;
  height: 20%;
}
html body #main-container #map-container #map #wrapper #move {
  position: relative;
  margin: auto;
  width: 50%;
  height: 70%;
  top: 230%;
  -webkit-animation: loading 1.5s linear infinite;
  animation: loading 1.5s linear infinite;
}
html body #main-container #map-container #map #wrapper #move #loader {
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 100% 100% 100% 0;
  box-shadow: 0px 0px 0px 2px #ffe02d;
  -webkit-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  transform: rotate(-46deg);
}
@-webkit-keyframes loading {
  0% {
    top: 230%;
  }
  50% {
    top: 240%;
  }
  100% {
    top: 230%;
  }
}
@keyframes loading {
  0% {
    top: 230%;
  }
  50% {
    top: 240%;
  }
  100% {
    top: 230%;
  }
}
html body #main-container #map-container #map #wrapper #logo {
  position: relative;
  text-align: center;
  top: 200%;
}
html body #main-container #map-container #map #wrapper #logo img {
  width: 50%;
  height: 50%;
}
html body #main-container #map-container #input_search {
  position: absolute;
  width: 90%;
  top: 2%;
  left: 5%;
  z-index: 400;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 12px #555;
  padding: 3px 0;
  font-family: 'Montserrat';
  background-color: white;
}
html body #main-container #map-container #input_search #searchbox {
  width: 100%;
  text-align: center;
  display: block;
}
html body #main-container #map-container #input_search #searchbox span {
  min-width: 15%;
  padding-top: 2px;
}
html body #main-container #map-container #input_search #searchbox input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 80px;
  text-align: center;
  -webkit-transition: width 300ms ease-out;
  -moz-transition: width 300ms ease-out;
  -ms-transition: width 300ms ease-out;
  -o-transition: width 300ms ease-out;
  transition: width 300ms ease-out;
}
html body #main-container #map-container #input_search #searchbox input:focus {
  text-align: left;
  outline: 0;
  width: 85%;
}
html body #main-container #map-container .list-up {
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  height: 35%;
  width: 100%;
  z-index: 150;
  bottom: 50px;
  transition: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
}
html body #main-container #map-container .list-up #toggle {
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
  right: 0;
  z-index: 400;
  background-color: #222222;
  text-align: center;
  border-bottom: solid 1px #888888;
}
html body #main-container #map-container .list-up ul {
  padding: 0;
  list-style: none;
  overflow-y: auto;
  height: 100%;
  font-family: 'Montserrat';
  background-color: rgba(51, 51, 51, 0.6);
  margin: 0;
}
html body #main-container #map-container .list-up ul li {
  border-bottom: solid 1px rgba(136, 136, 136, 0.6);
}
html body #main-container #map-container .list-up ul li a {
  display: table;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
html body #main-container #map-container .list-up ul li a .price,
html body #main-container #map-container .list-up ul li a .name {
  display: table-cell;
}
html body #main-container #map-container .list-up ul li a .name {
  color: #ffe02d;
}
html body #main-container #map-container .list-up ul li a .price {
  text-align: right;
}
html body #main-container #map-container .list-down {
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 150;
  bottom: 0px;
  transition: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
}
html body #main-container #map-container .list-down #toggle {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 50px;
  z-index: 400;
  background-color: #222222;
  text-align: center;
}
html body #main-container #map-container .list-down ul {
  display: none;
}
html body #main-container #map-container #geolocalization {
  position: absolute;
  bottom: 61px;
  left: 15px;
  z-index: 400;
}
html body #main-container #window-container {
  background: -webkit-linear-gradient(left, #ffe02d 20%, #ffffff 20%) !important;
  background: -moz-linear-gradient(left, #ffe02d 20%, #ffffff 20%) !important;
  background: -ms-linear-gradient(left, #ffe02d 20%, #ffffff 20%) !important;
  background: linear-gradient(left, #ffe02d 20%, #ffffff 20%) !important;
  margin-top: -1px !important;
  max-width: 350px !important;
}
html body #main-container #window-container #price-div,
html body #main-container #window-container #details,
html body #main-container #window-container #arrow {
  font-family: 'Montserrat';
  height: 51px;
  float: left;
}
html body #main-container #window-container #price-div {
  width: 50px;
  background-color: #ffe02d;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: table;
}
html body #main-container #window-container #price-div #price {
  font-size: 12pt;
  font-weight: 700;
  display: table-cell;
  vertical-align: middle;
}
html body #main-container #window-container #details {
  width: 150px;
  background-color: white;
  text-align: left;
  display: table;
}
html body #main-container #window-container #details #vertical {
  display: table-cell;
  vertical-align: middle;
}
html body #main-container #window-container #details #vertical #name {
  margin: 0;
  font-size: 12pt;
  font-weight: 400;
  padding-left: 7px;
  line-height: 13px;
  margin-bottom: 2px;
  color: #222222;
}
html body #main-container #window-container #details #vertical #address {
  font-size: 8pt;
  font-weight: 400;
  margin: 0;
  line-height: 10px;
  padding-left: 7px;
  color: #8e8e93;
}
html body #main-container #window-container #arrow {
  background-color: white;
  width: 20px;
  display: table;
}
html body #main-container #window-container #arrow #img {
  display: table-cell;
  vertical-align: middle;
}
html body #main-container #list-container input {
  width: 100%;
  background-color: #222222;
  border: none;
  color: #ffe02d;
  border-bottom: solid 1px #888888;
  font-size: 20px;
  font-family: 'Montserrat';
  padding: 10px;
  padding-bottom: 5px;
}
html body #main-container #list-container input:focus {
  outline: 0;
}
html body #main-container #list-container ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888;
}
html body #main-container #list-container :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888;
}
html body #main-container #list-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888;
}
html body #main-container #list-container :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888;
}
html body #main-container #list-container .list {
  left: 0;
  right: 0;
  height: 90%;
  position: absolute;
  overflow-y: auto;
}
html body #main-container #list-container .list ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat';
}
html body #main-container #list-container .list ul .bar-item {
  border-bottom: solid 1px rgba(136, 136, 136, 0.4);
}
html body #main-container #list-container .list ul .bar-item a {
  display: table;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
html body #main-container #list-container .list ul .bar-item a .price,
html body #main-container #list-container .list ul .bar-item a .name,
html body #main-container #list-container .list ul .bar-item a .distancec {
  display: table-cell;
}
html body #main-container #list-container .list ul .bar-item a .distance {
  text-align: left;
}
html body #main-container #list-container .list ul .bar-item a .name {
  text-align: center;
}
html body #main-container #list-container .list ul .bar-item a .price {
  text-align: right;
}
