
html body {
  height: 100%;
  width: 400%;
}
html body .bar-tab {
  z-index: 200;
  background-color: #333333;
}
html body .bar-tab .tab-item.active,
html body .bar-tab .tab-item:active {
  color: #ffe02d;
}
html body #main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  left: -50%;
}
html body #main-container .mobile-panel {
  position: relative;
  display: table-cell;
  width: 25.0%;
  height: 100%;
  background-color: #333333;
}
html body #main-container #more {
  text-align: center;
}
html body #main-container #more #add-bar,
html body #main-container #more #fb-connect {
  width: 80%;
  height: 10%;
  margin-top: 50%;
  margin: auto;
}
html body #main-container #more #add-bar {
  background-color: #888888;
  color: #333333;
}
html body #main-container #more #fb-connect {
  background-color: #3b5998;
  color: #888888;
}
html body #main-container #map-container {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  margin: 0 auto;
}
html body #main-container #map-container #map {
  height: 100%;
  z-index: 100;
}
html body #main-container #map-container input {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 400;
}
html body #main-container #map-container .list-up {
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  height: 45%;
  width: 100%;
  z-index: 150;
  bottom: 0px;
  overflow-y: auto;
  transition: 0.2s;
}
html body #main-container #map-container .list-up #toggle {
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  height: 20px;
  z-index: 400;
  background-color: #333333;
  text-align: center;
  border-bottom: solid 1px #888888;
}
html body #main-container #map-container .list-up ul {
  padding: 0;
  list-style: none;
  font-family: 'Montserrat';
  background-color: rgba(51, 51, 51, 0.6);
}
html body #main-container #map-container .list-up ul li {
  border-bottom: solid 1px rgba(136, 136, 136, 0.6);
}
html body #main-container #map-container .list-up ul li a {
  display: table;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
html body #main-container #map-container .list-up ul li a .price,
html body #main-container #map-container .list-up ul li a .name {
  display: table-cell;
}
html body #main-container #map-container .list-up ul li a .name {
  color: #ffe02d;
}
html body #main-container #map-container .list-up ul li a .price {
  text-align: right;
}
html body #main-container #map-container .list-down {
  position: absolute;
  height: 35%;
  width: 100%;
  z-index: 150;
  bottom: 0px;
  transition: 0.2s;
}
html body #main-container #map-container .list-down #toggle {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 50px;
  z-index: 400;
  background-color: #333333;
  text-align: center;
}
html body #main-container #map-container .list-down ul {
  display: none;
}
html body #main-container #list-container input {
  width: 100%;
  background-color: #333333;
  border: none;
  color: #ffe02d;
  border-bottom: solid 1px #888888;
  font-size: 20px;
  font-family: 'Montserrat';
  padding: 10px;
  padding-bottom: 5px;
}
html body #main-container #list-container input:focus {
  outline: 0;
}
html body #main-container #list-container ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888888;
}
html body #main-container #list-container :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #888888;
}
html body #main-container #list-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #888888;
}
html body #main-container #list-container :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #888888;
}
html body #main-container #list-container .list {
  left: 0;
  right: 0;
  height: 90%;
  position: absolute;
  overflow-y: auto;
}
html body #main-container #list-container .list ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat';
}
html body #main-container #list-container .list ul .bar-item {
  border-bottom: solid 1px rgba(136, 136, 136, 0.4);
}
html body #main-container #list-container .list ul .bar-item a {
  display: table;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 14px;
}
html body #main-container #list-container .list ul .bar-item a .price,
html body #main-container #list-container .list ul .bar-item a .name {
  display: table-cell;
}
html body #main-container #list-container .list ul .bar-item a .name {
  color: #ffe02d;
}
html body #main-container #list-container .list ul .bar-item a .price {
  text-align: right;
}
