html {
  font-family: 'Raleway';
}
html body {
  height: 100%;
}
html body #map-container {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
}
html body #map-container #responsive-header {
  display: none;
}
html body #map-container #header {
  width: 100%;
  height: 41px;
  z-index: 100;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.9);
}
html body #map-container #header #bg_menu {
  background-color: rgba(51, 51, 51, 0.9);
  z-index: 1001;
  height: 2000px;
  width: 80%;
}
html body #map-container #header #bg_menu #block {
  width: 90%;
}
html body #map-container #header #menu_left {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  height: 2000px;
  width: 100%;
  z-index: 1000;
}
html body #map-container #header #menu_left img {
  margin-right: 0;
  margin: 8px;
  width: 190px;
}
html body #map-container #header div {
  height: 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  width: 100%;
  float: left;
  display: inline-block;
}
html body #map-container #header div input {
  font-family: 'Raleway';
  font-size: 14px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  width: 90%;
  color: #ffe02d;
  margin: 12px;
  border-radius: 15px;
  border: solid 1px rgba(255, 255, 255, 0.2);
}
html body #map-container #header div input ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Raleway';
}
html body #map-container #header div input input:focus {
  outline: 0;
}
html body #map-container #header #ptp-logo {
  margin-right: 0;
}
html body #map-container #header #ptp-logo img {
  margin: 8px;
  width: 190px;
}
html body #map-container #map {
  width: 100%;
  height: 100%;
  background-color: #333333;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
}
html body #map-container #map .ctn-center {
  position: absolute;
  top: 36%;
  left: 50%;
}
html body #map-container #list-container {
  height: 25%;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.9);
  overflow-y: auto;
}
html body #map-container #list-container ul {
  margin: 0;
  padding: 0;
}
html body #map-container #list-container ul li {
  list-style: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
html body #map-container #list-container ul li a {
  text-decoration: none;
}
html body #map-container #list-container ul li a p {
  margin: 0;
  font-size: 24px;
  color: #ffe02d;
}
html body #map-container #list-container ul li a p span {
  font-size: 16px;
}
@media (max-width: 600px) {
  html body #map-container {
    position: absolute;
  }
  html body #map-container #responsive-header {
    display: block;
    width: 15%;
    height: 100%;
    background-color: #333333;
    position: absolute;
    z-index: 100;
  }
  html body #map-container #responsive-header ul {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  html body #map-container #responsive-header ul li {
    height: 16.67%;
    border-bottom: solid 1px white;
  }
  html body #map-container #header {
    display: none;
  }
  html body #map-container #map {
    position: relative;
  }
}
